$handle-size: in-rems(24);

.c-player
{
  @include display(flex);
  @include flex-wrap();
  @include flex-direction(column);

  min-width: $youtube-min-width;
  min-height: $youtube-min-height;

  pointer-events: all;

  background-color: rgba(0,0,0,0.5);

  & > .e-header,
  & > .e-footer
  {
    width: 100%;
    height: auto;
  }

  & > .e-screen
  {
    @include flex(1 1 auto);

    @include display(flex);
    @include flex-wrap();
    @include flex-direction(column);
  }

  & > .e-handle
  {
    position: absolute;
    bottom: 0;
    left: 0;

    width: $handle-size;
    height: $handle-size;
  }

  &.m-size-min
  {
    position: absolute;

    width: $youtube-min-width;
    height: $youtube-min-height;

    &.m-anchor-top_left
    {
      top: 0;
      left: 0;
    }

    &.m-anchor-top_right
    {
      top: 0;
      right: 0;
    }

    &.m-anchor-bottom_left
    {
      bottom: 0;
      left: 0;
    }

    &.m-anchor-bottom_right
    {
      bottom: 0;
      right: 0;
    }
  }

  &.m-size-normal
  {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}