.c-player-votes
{
    $icon-size: in-rems(25);
    $icon-spacing: in-rems(5);

    padding: 0 in-rems(5);
    height: $theme-edge-width;

    & > .e-leaf,
    & > .e-spark
    {
        display: inline-block;
        vertical-align: middle;
        width: $icon-size;
        height: $icon-size;

        position: relative;
        top: 50%;
        transform: translateY(-50%);

        background-color: white;
        cursor: pointer;
    }

    & > .e-leaf
    {
        margin-right: ($icon-spacing / 2);
    }

    & > .e-spark
    {
        margin-left: ($icon-spacing / 2);
    }
}