.c-player-progress
{
    width: 100%;
    height: $theme-edge-width;

    background-color: $color-accent-dark;

    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap();

    & > .e-progress
    {
        @include flex(1);

        & > .e-bar,
        & > .e-text
        {
            position: relative;
            width: 100%;
            height: $theme-edge-width;
        }

        & > .e-bar
        {
            z-index: 5;

            background-color: $color-accent;

            & > .e-bar-fill
            {
                position: relative;
                top: 0;
                left: 0;
                height: $theme-edge-width;

                background-color: $color-accent-light;
            }
        }

        & > .e-text
        {
            margin-top: -1 * $theme-edge-width;

            z-index: 10;

            & > .e-text-container
            {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .e-song-name,
            .e-artist-name
            {
                display: block;

                color: white;
                text-align: center;

                font-size: 120%;
                font-weight: bold;
                line-height: 1.5em;
            }
        }
    }

    & > .e-time-index
    {
        width: auto;
    }
}