$color-base-darkest: #0D1215;
$color-base-darker: #15191B;
$color-base-dark: #181F24;
$color-base: #232C32;
$color-base-light: #3B464D;
$color-base-lighter: #607880;
$color-base-lightest: #C4CDCC;

$color-accent-dark: #108D4E;
$color-accent: #15A25A;
$color-accent-light: #1AB667;

$color-highlight: #6BE390;

$base-size: 12px;
$base-font: Arial;