$theme-color-light: #A8EDD8;
$theme-color-darkest: #0D1215;
$theme-color-dark: #232C32;
$theme-color-accent: #1AB667;
$theme-color-accent-light: #15A25A;
$theme-color-highlight: #108D4E;

$typeface-base-size: 12px;
$typeface-family: Arial;