@import "settings";
@import "functions";
@import "variables";
@import "mixins";

// Reset Script
@import "reset";

html, body
{
    font-size:      $typeface-base-size;
    line-height:    $typeface-base-height;
    font-family:    $typeface-base-family;
}

body
{
    background-color: $color-base-darkest;
    color:            $color-base-lightest;
}

a,
a:visited,
a:active
{
    color:           $color-base-lighter;
    text-decoration: none;
}

a:hover
{
    color:           $color-base-lightest;
    text-decoration: underline;
};