.c-overlay-window
{
    position: fixed;
    z-index: 1000;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: black;
    opacity: 0.75;

    & > .e-content
    {
        position: fixed;
        z-index: 1100;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 10px; // TODO: REM
        background-color: $theme-color-dark;
        border-radius: 5px;
    }
}