.c-content
{
    @include display(flex);
    @include flex-wrap();
    @include flex-direction(row);

    /* I REALLY HATE THIS */
    position: fixed;
    top: $theme-edge-width;
    bottom: $theme-edge-width;
    left: 0;
    right: 0;

    & > .e-menu
    {
        width: auto;
    }

    & > .e-main
    {
        @include flex(1);

        position: relative;

        & > .e-player
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;

            z-index: 1000;

            pointer-events: none;

            & > .e-player-anchor
            {
                position: relative;
            }
        }

        & > .e-page
        {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;

            z-index: 100;
        }

        & > .e-queue
        {

        }
    }

    & > .e-social
    {
        width: auto;

        @include display(flex);
        @include flex-wrap();
        @include flex-direction(row);
    }
}