.c-shell-header
{
    @include display(flex);
    @include flex-wrap();
    @include flex-direction(row);

    height: 100%;

    background-color: $color-base;

    & > .e-banner
    {
        width: auto;
    }

    & > .e-search
    {
        @include flex(1);
    }

    & > .e-notifications
    {
        width: auto;
    }

    & > .e-user
    {
        width: auto;
    }
}