.c-shell
{
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > .e-header
    {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;

        height: 50px;
    }

    & > .e-menu
    {
        position: absolute;

        top: 50px;
        bottom: 50px;
        left: 0;

        width: 25%;
        height: auto;

        border-right: 1px solid $theme-color-dark;
    }

    & > .e-content
    {
        position: absolute;

        top: 50px;
        bottom: 50px;
        left: 25%;
        right: 0;

        height: auto;
    }

    & > .e-footer
    {
        position: absolute;

        bottom: 0;
        left: 0;
        right: 0;

        height: 50px;
    }
}