.c-shell
{
    @include display(flex);
    @include flex-wrap();
    @include flex-direction(column);

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & > .e-header
    {
        height: $theme-edge-width;
    }

    & > .e-content
    {
        @include flex(1);
    }

    & > .e-footer
    {
        height: $theme-edge-width;
    }
}