@mixin clearfix()
{
    &:after
    {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder-style() {
    &:-ms-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder
    {
        @content
    }
}