// Typesetting
$typeface-base-size: $base-size;
$typeface-base-height: 1.2em;
$typeface-base-family: Arial;

// Dimensions & Helper
$theme-edge-width: in-rems(60);
$theme-menu-width: in-rems(180);
$theme-social-width: in-rems(250);