.c-player-bar
{
    @include display(flex);
    @include flex-wrap();
    @include flex-direction(row);

    height: 100%;
    width: 100%;

    background-color: $color-accent-dark;

    & > .e-controls
    {
        width: auto;
    }

    & > .e-progress
    {
        @include flex(1);
    }

    & > .e-actions
    {
        width: auto;
    }
}